*{
    border: 0;
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(to bottom right, #99E7FA 30%,#000000 60%);
    display:flex;
    height: 100px;
    justify-content: space-around;
    overflow: hidden;
    overflow: hidden;
}

.logomecanico img{
    display: flex;
    position: relative;
    top:0.5em;
    left: 20em;
    max-width: 10%;    
}
/*boton volver*/
/*boton volver*/
.volver .button{
    color: #000;
    padding: 15px 32px;
    border: 2px, solid, #7b8a86;    
    background-color:cadetblue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
    transition-duration: 0.9s;
    font-size: 16px; 
    font-weight: 700;
}
.volver:hover{
    color:#7D889E;
}
    
.volver{
   left: 0;
   display: flex;
   position:absolute;
   justify-content: center;
   margin-top: auto;
   margin-bottom: auto;
}
.volver{
 text-align: center;
}
/*empieza el body*/
/*fondo imagen*/
.fndnservicios img{
 position: relative;
 height: 100%;
 width: 100%;
 opacity: 0.3;
}
/*columnas nservicios*/
ul.nser{
    position: absolute;
    top: 5em;
    padding: 5em;
    grid-column:span ;
    font-size: 30px;
    margin-left: 2em;
    list-style-type: square;
    list-style-position: inside;
    column-count: 2;
  }
 /*empieza el footer*/
footer{
    position: absolute;
    top: 69em;
    bottom: 0;    
    left: 0;
    background-image: linear-gradient(to bottom right, #99E7FA 30%,#BFBFBF 60%);
    height: 150px;
    width: 100%;  
    overflow: hidden;    
} 
.textofooter{
    display: flex;
    position: relative;   
    text-align: left;    
}
.textoredes{
    display: flex;
    position: relative;
    top:6em;
    font-size: 0.5em;
}
.redes a{  
    display: inline-flex;  
    position: relative;
    left: 25em;
    justify-content: space-between;
    margin-top: 1em;
    width: auto;
    height: 50px;   
   
}
.textodireccion{
    display: flex;
    position: absolute;
    top:4em;
    left: 0;   
}
.textodireccion p{
position: relative;
font-weight: 700;
left: 19em;
}
.FooterLegal {    
    position:absolute; 
    top:6em;
    background-color: #7D889E;
    padding: 1em;
    width: 100%;
    left: 0;
}
.FooterLegal p{
    display: flex;
    position: relative;
    left: 25em;
}
.portfolio a{
    margin-left: 75em;
    height: 50%;
    width: 50%;
    display: flex;
    position: relative;
    margin-top: -7em;
    
}