*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
/*medida tablet*/
@media (min-width:768px) and (max-width: 564px) {
header{
 background: linear-gradient(to bottom right, #99E7FA 30%,#000000 60%);
 display:flex;
 height: 100px;
 justify-content: space-around;
 overflow: hidden;
 overflow: hidden;
}
.logomecanico img{
 display:flex;
 position: relative;
 top:0.5em;
 left: 1em;;
 max-width: 30%;    
}
}
 /* --------------------------------------empieza la pagina*/
 header{
    background: linear-gradient(to bottom right, #99E7FA 30%,#000000 60%);
    display:flex;
    height: 100px;
    justify-content: space-around;
    overflow: hidden;
    overflow: hidden;
}

.logomecanico img{
    display: flex;
    position: relative;
    top:0.5em;
    left: 1em;
    max-width: 10%;    
}
 body{
    background-image: url(la-dificil-eleccion-de-un-taller-mecanico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    margin: 0;
    padding: 0;    
    z-index: -2;
}


.mensajebody{
    top: 4em;
    padding: 2em;
    background-color: cadetblue;    
    position: absolute;
    display: flex;
    text-align: center;    
    font-weight: 700;
    font-size: 30px;    
    opacity: 0.8;
   
}
.texto{
 position: relative;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 color: white;
 text-align: center;
}
 /*botones pago, quines somos, ubi*/   
.btn-group{
    justify-content: center;
    display: flex;
    position: relative;
    right: 1em;
}
    
.btn-group .button{
 padding: 15px 32px;
 border: 2px, solid, #ADEADC;    
 text-align: center;
 text-decoration: none;
 display: inline-block;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 10%;
 transition-duration: 0.9s;
 font-size: 16px;
 font-weight: 700;
 overflow-x: hidden;
}
.btn-group .button:hover{
  background-color: #7D889E;
}

.btn-group{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-group .button{
    padding: 15px 32px;
    border: 2px, solid, #ADEADC;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition-duration: 0.9s;
    font-size: 16px;
    font-weight: 700;
    overflow-x: hidden;
 }
 .btn-group .button:hover{
        background-color: #7D889E;
}
  


@font-face{
    font-family: fuente;
    src: url(JMH\ Typewriter\ dry-Black.otf)
}
/*fondo*/

.imgauto{
    background-image: url( crique.jpg);
    margin-top: -25em;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: left;
   display: flex;
   position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    
}
body{
    overflow-x: hidden;
    position: relative;
    background-attachment: fixed;
    justify-content: space-between;
}

/*bordes nuestros servicios, fotos*/
 .textodelbody{
 font-size: 20px;
 padding-left: 0%;
 padding-right: 0%;
 float: left;
 text-align: center;
 margin: 20px 0px;
 width: 100%;
 padding-top: 0px;
 list-style-type: none;
 margin-top: -40em;
 overflow: hidden;
}
.nsfotos-group{
    
  justify-content: center;
 margin-top: auto;
 margin-bottom: auto;

     
}
/*botones general*/
.nsfotos-group .button{
    color: #000;
    background-color:cadetblue;
    padding: 15px 32px;
    border: 2px, solid, #ADEADC;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
    transition-duration: 0.9s;
    font-size: 16px; 
    font-weight: 700;
}

.nsfotos-group .button:hover{
  background-color:#7D889E;
}

.nsfotos-group{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;


}
.nsfotos-group{
    text-align: center;
    
}
.nsfotos-group{
padding-right:  2px;
display: inline;
padding-left: 2px;
float: left;
padding-bottom: 2px;
width: 30%;
margin-left: 28em;
padding-top: 30em;
column-rule-style: double;
}
/*btn-fotos*/
.btn-fotos .button{
    color: #000;
    padding: 15px 32px;
    border: 2px, solid, #7b8a86;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
    transition-duration: 0.9s;
    font-size: 16px; 
    font-weight: 700;
}
.btn-fotos:hover{
    color:#7D889E;
}
    
.btn-fotos{
   justify-content: center;
   margin-top: auto;
   margin-bottom: auto;
}
.btn-fotos{
 text-align: center;
}        

.mensajebody{
    color: #000;
    display: flex;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    overflow-x: hidden;
}

/*empieza el footer*/
footer{
    position: absolute;
    top: 55em;
    bottom: 0;    
    left: 0;
    background-image: linear-gradient(to bottom right, #99E7FA 30%,#BFBFBF 60%);
    height: 150px;
    width: 100%;  
    overflow: hidden;    
} 
.textofooter{
    display: flex;
    position: relative;   
    text-align: left;    
}
.redes{
    justify-content: center;
}
.redes a{  
    display: inline-flex;  
    position: relative;
    left: -1em;
    bottom: 10px;
    margin-top: 1em;
    width: auto;
    height: 50px;   
   
}
.textodireccion{
    background-color: #7b8a86;
    width: 100%;
    display: flex;
    position: absolute;
    padding: 2px;
    top:4em;
    left: 0;   
    justify-content: center;
}
.textodireccion p{
position: relative;
font-weight: 700;
text-align: center;
}
.FooterLegal {
    justify-content: center;
    position:absolute; 
    top:6em;
    text-align: center;
    background-color: #7D889E;
    padding: 1em;
    width: 100%;
}
.FooterLegal p{
    text-align: center;
    display: flex;
    position: relative;
    left: 30em;
}
