*{
    margin: 0;
    padding: 0;
    
}
@media (max-width: 800px) {
    .menu {
      background: blue;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1280px) {
    .menu {
      background: red;
    }
  }
  
  @media (min-width: 1280px) {
    .menu {
      background: green;
    }
  }
header{
    display:flex;
    height: 100px;
    justify-content: space-around;
    overflow: hidden;
    overflow: hidden;
}

.divclass{
    float:left;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    overflow-x: hidden;
}

.divclass img{
    max-width: 120%;
    height: 100px;
    overflow-x: hidden;
    
}

.btn-group{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-group .button{
    padding: 15px 32px;
    border: 2px, solid, #ADEADC;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition-duration: 0.9s;
    font-size: 16px;
    font-weight: 700;
    overflow-x: hidden;
 }
 .btn-group .button:hover{
        background-color: #7D889E;
    }
    header{
        background-image: linear-gradient(to bottom right, #99E7FA 30%,#000000 60%);
       
    }

.clima{
    align-items: right;
    margin-top: auto;
    margin-bottom: auto;
    overflow-x: hidden;
}
@font-face{
    font-family: fuente;
    src: url(JMH\ Typewriter\ dry-Black.otf)
}


.imgauto{
    background-image: url( crique.jpg);
    margin-top: -5em;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-attachment: fixed;
   display: flex;
   position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    
}
body{
    overflow-x: hidden;
}

/*bordes nuestros servicios, fotos*/
 .textodelbody{
 font-size: 20px;
 padding-left: 0%;
 padding-right: 0%;
 float: left;
 text-align: center;
 margin: 20px 0px;
 width: 100%;
 padding-top: 0px;
 list-style-type: none;
 margin-top: -40em;
 overflow: hidden;
}
.nav ul{
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding: 2.5em;
    margin: 0;
    overflow: hidden;
}
.nav li{
    display: inline-block; 
}
.nav a{
    text-align: center;
    color: #000000;
    background-color: #7D889E;
    border-style: solid;
    border-color: #000000 ;
    border-radius: 10%;
    width: 100px;
    display: flex;
    margin-left: 20em;
    padding: 5%;
    z-index: 1;
   
}
.btn-columnas .button{
    color: #7D889E;
    padding: 15px 32px;
    border: 2px, solid, #ADEADC;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition-duration: 0.9s;
    font-size: 16px;
    font-weight: 700;
}
.nav a .button{
    font-weight: 600px;
    padding-right: 10px;
    padding: 15px 32px;
    border: 2px, solid, #ADEADC;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 70%;
    transition-duration: 0.9s;
    font-size: 16px;
    font-weight: 700;
}
.nav a:hover{
color: white;
}
.btn-columnas{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
.nav{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

}
ul.textodelbody li{
padding-right:  2px;
display: inline;
padding-left: 2px;
float: left;
padding-bottom: 2px;
width: 30%;
padding-top: 2px;
column-rule-style: double;

}
.MensajeBody{
    color: white;
    display: block;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    font-size: 30px;
    overflow-x: hidden;
}
/*ubicacion*/
.ubicacion{
    padding-left: 0%;
   display: flex;
   position: relative;
   margin-top: -10em;
   margin-left: 30px;
   overflow: hidden;
}
.textubi{
 display: flex;
 position: relative;
 margin-top: -16em;
 font-size: 30px;
 left: 25em;
 overflow:hidden;
}
footer{
    position: relative;
    margin-top: 3em;
    bottom: 0;    
    left: 0;
    background-image: linear-gradient(to bottom right, #99E7FA 30%,#BFBFBF 60%);
    height: 150px;
    width: 100%;  
    overflow: hidden;    
} 
.textofooter{
    margin-left: 1em;
    margin-top: -1em;
    font-size: 30px;
    text-align: left;
    overflow: hidden;
}
.facebook a{
    float: left;
    left: 5em;
    margin-top: 1em;
    position:absolute;
    display: flex;
    width: 30%;
    height: 30%;    
    overflow-x: hidden;
}
.instagram a{
    float: left;
    margin-top:1em;
    left: 5em;
    position: absolute;
    display: flex;
    width: 35%;
    height: 35%;
    margin-left: 50px;
    overflow-x: hidden;
}
.youtube a{
    float: left;
    left: 5em;
    margin-top:1em;
    position: absolute;
    display: flex;
    width: 35%;
    height: 35%;
    margin-left: 200px;
    overflow-x: hidden;
}
/* Se modifica el mensaje porque está dentro del footer*/
.MensajeFooter{
    position: absolute;
    left: 550px;
    font-weight: 700;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}
.Copy p{        
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-align: center;
    bottom: 0;
    padding: 50px;
    overflow-x: hidden;
}
.portfolio a{
    margin-left: 75em;
    height: 50%;
    width: 50%;
    display: flex;
    position: absolute;
    margin-top: -5em;
    overflow-x: hidden;
}
.tfooter{
    text-align: right;
    font-size: 30px;
    margin-right: 3em;
    margin-top: -5em;
    overflow-x: hidden;
}


