*{
    border:0;
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(to bottom right, #99E7FA 30%,#000000 60%);
}
.imgheader img{
    
    display: flex;
    left: 75em;
    position: absolute;
    height: 10em;
    width: 5em;
    margin-right: 50px;
    margin-top: -7em;
  
}
body{
    background-image: linear-gradient(to bottom right, #9DD6EB,#A3A3A3);
        
}
.imagenes{
    margin-top: -4em ;
}
.correo img{
    height: 20px;
    width: 20px;
    margin-top: 5em;
   
}
.telefono img{
    height: 20px;
    width: 20px;

}
.texttelefono{
    margin-top: -1em;
    margin-left: 2em;
   
}
.ubicacion img{
    height: 15px;
    width: 15px;
    
}
.imganalista{
    height: 30%;
    width: 30%;
    margin-left: 65em;
    margin-top: -5em;
    
}
footer{
    position: relative;
    bottom: 0;    
    left: 0;
    margin-top: 5em;
    background-color: #86AD99;
    height: 150px;
    width: 100%;  
    
}
.tfooter{
    font-size: 2em;
    margin-left: 1em;

}
.facebook a{
    position:absolute;
    display: flex;
    top: 3em;
    left: 5em;
    width: 30%;
    height: 30%;    
    
}
.instagram a{
    position: absolute;
    display: flex;
    top: 3em;
    left: 7em;
    width: 35%;
    height: 35%;
    margin-left: 50px;
  
}